- content_for :title, "Home"

%h1 Welcome, #{current_user.username}

%p.muted You are signed in.

%p.page-links
  = link_to "Your worlds", worlds_path

%p.page-links
  = button_to "Sign out", logout_path, method: :delete
